#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: oklch(0.985 0.002 247.839);
}
@import 'tailwindcss';
